<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
<title>Insert title here</title>
</head>
<body class="body-background">
<header th:insert="fragments :: header"></header>

<div class="container text-white">
			<h1>Ingredienti:</h1>	
			 <i class="fas fa-eye"></i>
			<form class="d-flex my-4 col-3" role="search">
		        <input class="form-control me-2 bg-transparent" type="search" placeholder="Search" aria-label="Search" name="search" th:value="${search}">
		        <button class="btn btn-outline-success" type="submit">Search</button>
     		 </form>	
			  <div th:if="${#lists.isEmpty(ingredienti)}">
	            <p>Nessuna ingrediente disponibile al momento.</p>
	        </div>
			<table class="table table-bordered">
            <thead>
                <tr >
                    <th class="bg-transparent">Nome</th>
                    <th class="bg-transparent"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ingrediente : ${ingredienti}" >
					
                    <td class="bg-transparent text-white" th:text="${ingrediente.nome}"></a></td>
                    <td class="bg-transparent "><a th:href="@{/ingredienti/edit/{id}(id=${ingrediente.id})}"  class="text-decoration-none text-warning btn">Modifica</a><br> 
                	  <form th:action="@{/ingredienti/delete/{id}(id=${ingrediente.id})}" method="POST">
					        <input type="submit" value="Elimina" class=" text-danger btn">
					    </form>
					  
					</td>
                </tr>
            </tbody>
        </table>
         <a class="btn btn-warning" th:href="@{/ingredienti/create}">Aggiungi Ingrediente</a>
	</div>	

<footer th:insert="fragments :: footer"></footer>
</body>
</html>